node_modules
npm-debug.log
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.env
.env.local
.env.*.local
.DS_Store
Thumbs.db
.vscode
.idea
.git
.gitignore
README.md
.env.example
dockerfile
.dockerignore
*.md
